<div class="panel panel-primary">
    <div class="panel-heading"><b>Full Info Artist</b>&nbsp;&nbsp;<span class="fa fa-music" aria-hidden="true"></span></div>
    <div class="panel-body">
        <div>
            <table id="example1"
                   class="table table-striped table-bordered"
                   style="width:100%">
                <thead>
                    <tr>
                        <td>Album</td>
                        <td>Year Released</td>
                    </tr>
                </thead>
                <tbody id="mydata1"  class="ex1">
                    <tr>
                        <td><center>[[strAlbum]]</center></td>
                        <td><center>[[intYearReleased]]</center></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>