@using TheAudioDBAPI.Helpers

@{
    ViewBag.Title = "TheAudioDB";

    if (Session["UserLoged"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
}


<style>
    .style1 {
        border-radius: 10px;
    }

    .ex1 {
        display: none;
    }
</style>



<div class="container">



    <br />

    <div class="panel panel-primary">
        <div class="panel-heading"><b>TheAudioDB</b>&nbsp;&nbsp;<span class="fa fa-music" aria-hidden="true"></span></div>


        <div class="panel-body">

            <div class="row">
                <div class="col-md-12" id="divArtista">
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="subtitle_h5">Artist:</label>&nbsp;&nbsp;&nbsp;
                            <input type="text" class="form-control style1" id="inputArtist" maxlength="50" />&nbsp;&nbsp;&nbsp;

                            <br />

                            <input type="button" class="btn-primary" value="Search" id="button1000" />&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>


            <div class="loader" id="loaderDiv"></div>

            <br />

            <div>
                <table id="example" class="display table table-responsive " cellspacing="0">
                    <thead>
                        <tr>
                            <td></td>
                            <td>Artist Name</td>
                            <td>Kind</td>
                            <td>Country</td>
                            <td>Description</td>
                            <td>Picture</td>
                            <td class="ex1">Id</td>
                        </tr>
                    </thead>
                    <tbody id="mydata" class="ex1">
                        <tr id="[[strArtist]]" onclick="recuperarFila(this.id)">
                            <td><center>[[strArtist]]</center></td>
                            <td><center>[[strGenre]]</center></td>
                            <td><center>[[strCountry]]</center></td>
                            <td><center><textarea class="form-control" aria-label="With textarea">[[strBiographyEN]]</textarea></center></td>
                            <td><center><img src="[[strArtistThumb]]" width="220" height="250" /></center></td>
                            <td><center><button type="button" class="btn-default" id="button1"><i class="fa fa-clipboard"></i></button></center></td>
                            <td class="ex1">[[strArtist]]</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>


    </div>

    <br />

    @Html.Full("FullArtistInfo")


    <br />




</div>


<script src="../Scripts/LoB/TheAudioDB.js"></script>
<script src="../Scripts/js-miranda/jquery.miranda.js"></script>