
@using Microsoft.AspNet.Identity


@*@if (Request.IsAuthenticated)*@
@*{*@
    @*//@Html.AntiForgeryToken()*@


    <div class="dropdownbtn">
        <button class="dropbtn">
            Hola @User.Identity.GetUserName() &nbsp;
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdownbtn-content">
            @*<ul class="nav navbar-nav navbar-right">*@
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("Salir", "Logout", "Account")
                </li>
            </ul>
        </div>
    </div>
    <!--}

    else
    {
    <ul class="nav navbar-nav navbar-right">-->
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <!--<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
    }-->
