@using TheAudioDBAPI.Helpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FullInfo</title>
</head>
<body>
    <div>

        @Html.Full("FullArtistInfo")

        @Html.ActionLink("Atras", "Index", "Home")

    </div>
</body>
</html>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="../Scripts/LoB/TheAudioDB.js"></script>
<script src="../Scripts/js-miranda/jquery.miranda.js"></script>




